<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'">
    <meta http-equiv="X-Content-Security-Policy" content="default-src 'self'; script-src 'self'">
    <title>Famintus</title>
    <link rel="stylesheet" href="../../public/styles/index.css">

  </head>
  
  <body>
    <div class="nav-bar">
          <a id="home" class="active" href="../index/index.html">Home</a>
          <a id="cadastrou" href="../cadastro_usuario/cadastro_usuario.html">Cadastro de usuários</a>
          <a id="cadastrop" href="../cadastro_produtos/cadastro_produtos.html">Cadastro de produtos</a>
          <a id="produtos" href="../produtos/produtos.html">Produtos</a>
          <a id="usuarios"  class="active" href="../usuarios/usuarios.html">Usuários</a>
    </div>
    
  <div class="title-sub-title">

    <h1 class="title">Bem-vindo ao Famintus!</h1>
    
    <p>Uma revolução na maneira de administar o seu comércio.</p>
    
    </div>

    <script src="../../controllers/renderer.js"></script>
  </body>
</html>
