<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuarios</title>
    <link rel="stylesheet" href="../../public/styles/users.css">
</head>
<body>
    <div class="nav-bar">
        <a id="home" class="active" href="../index/index.html">Home</a>
        <a id="cadastrou" href="../cadastro_usuario/cadastro_usuario.html">Cadastro de usuários</a>
        <a id="cadastrop" href="../cadastro_produtos/cadastro_produtos.html">Cadastro de produtos</a>
        <a id="produtos" href="../produtos/produtos.html">Produtos</a>
        <a id="usuarios"  class="active" href="../usuarios/usuarios.html">Usuários</a>
    </div>

    <div>
        <h1>Usuários</h1>
    </div>

    <script src="../../controllers/UserController.js"></script>
</body>
</html>